*{  /* aplica un caracteristica a todo el codigo html que no tenga una caracteristica asignada*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;    /* par a*/
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    font-size: 10px;
}

.contenedor{
    padding: 60px;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: rgb(69, 72, 71);
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

header{
    background-color: rgb(100, 100, 124);
    font-size: 25px;
    max-width: 100%;
    height: 150px;   
    padding: 10px 5px 50px 20px; 
    background-size: cover;
    background-attachment: fixed;
    position: relative;
 } 

.titulo1 h1{
    display: inline;
    font-size: 60px;
    padding-top: 1px;
    color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
.titulo1 img{
    width: 100px;
}
nav{
    text-align: right;
    padding: 1px 20px 0 0;/* arriba derecha abajo izquierda*/
    
}

nav > a{
    color: rgb(75, 194, 121);
    font-weight: 300;
    text-decoration: none;
    margin-left: 10px;
}
nav > a:hover{
    text-decoration: underline;
    color: rgb(191, 191, 227);
}

/* titulos de Body*/
.titulo {
    font-size: 30px;
    font-weight: 300;
    color: rgb(116, 203, 119);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div h3{
    font-size: 25px;
    font-weight: 300;
    color: rgb(88, 90, 88);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/* sobre nosostros y por que*/
.contenedor{
    background-color: beige;
    }
.espacio{
    background-color: rgba(0, 0, 0, 0); /* corregir*/
    position: relative;
    width: 200px;
    height: 50px;
}
.imagen-contenedor{
    width:40%;
}

.contenedor-texto {
    display: flex;
    justify-content: space-evenly ;
    color: rgb(224, 9, 9);
    font-size: 20px;
}

.descripcion h3{
    margin-bottom: 15px;
}

.descripcion h3 span{
    background-color: rgb(116, 203, 119);
    color: white;
    border-radius: 70%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    margin-right: 20px;
    margin-left: 20px ;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.543);
}

.contenedor-texto p{
    padding: 0 15px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/*-----------------------portafolio---------------*/
.portafolio{
    background-color: beige;
}
.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.img-port{
    width: 30%;
    height:250px ;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.504);
}

.img-port > img{
    width: 100%;
    height: 100%;
    object-fit: conver;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0); 
    background: hsla(201, 22%, 33%, 0.7);
    transition: transform .4s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /*alinea el hover en el centro */
}

.hover-galeria img{
    width: 100px; 
}

.hover-galeria p{
    color: beige;
    font-size: 20px;
}
.img-port:hover .hover-galeria{
transform: scale(1);
}

/*----------------------clientes---------------*/

.tarjetas{
    
    justify-content: space-evenly;
    overflow: scroll;
    width: 100%;
    height: 300px;
    
}
.tarjetas .card{
    background: rgb(52, 137, 58);
    display: flex;
    width: 100%;
    height: 180px;
    align-items: center;
    border-radius: 5px;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.687);
    margin: 1px 1px 5px 5px;
}

.tarjetas .card img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50%;
    margin: 1px 20px 2px 2px;
    display: block;
         
}

.tarjetas .card > .card-contenido{
    width: 100%;
    
}
.tarjetas .card > .card-contenido h4{
    padding: 10px 1px 0 5px;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.tarjetas .card > .card-contenido p{
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 5px 1px 1px 5px;
    
}

/*----------------------footer---------------*/
footer{
    background-color: #222;
    padding: 3rem;
    color: #fff;
    font-size: 15px;

}

footer section{
    float: right;
    

}

footer p{
    margin: 0;
}
footer a{
    color: #fff;
    text-decoration: none;
}
footer a:hover{
    color: cornflowerblue;
}

